<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets//css/loader.css">
</head>
<body>
<!-- Header -->
<header id="header">
    <div class="container">
        <div id="top-header">
            <div class="top-header-logo">
                <a href="/">
                  <img src="../assets/img/Logo/Logo-thaythe.jpg" alt="Logo">
                </a>
            </div>
            <div class="top-header-center">
                <div class="top-header-center-hotline">
                    <i class="hotline-map bi bi-telephone-fill"></i>
                    <span>HOTLINE:</span>
                    <a href="tel:+84379885603">
                      0379885603 | 0333301536
                    </a>
                </div>
                <div class="top-header-center-liststore">
                    <i class="hotline-map bi bi-map-fill"></i>
                    <a href="/views/store-system.html">HỆ THỐNG CỬA HÀNG</a>
                </div>
                <div class="top-header-center-searchmember">
                    <input type="text" placeholder="Tìm sản phẩm...">
                    <i class="bi bi-search"></i>
                </div>
            </div>
            <div class="top-header-left">
              <div class="top-header-left-btn search-btn">
                  <div class="top-header-left-btn-icon">
                      <i class="bi bi-binoculars-fill"></i>
                  </div>
                  <span>TRA CỨU</span>
                  <div class="search-list arrow-menu">
                      <ul>
                          <li><a href="/views/search-orders.html">Kiểm tra đơn hàng</a></li>
                          <li><a href="/views/search-warranty.html">Kiểm tra bảo hành</a></li>
                      </ul>
                  </div>
              </div>
              <div class="top-header-left-btn acc-btn">
                <div class="top-header-left-btn-icon">
                    <i class="bi bi-person-circle"></i>
                </div>
                <span>TÀI KHOẢN</span>
                <div class="acc-list arrow-menu">
                  <ul>
                      <li>
                          <a href="/views/login-view.html">
                              <i class="bi bi-box-arrow-in-right icon"></i>
                              <span>Đăng nhập</span>
                          </a>
                      </li>
                      <li>
                          <a href="/views/register-view.html">
                              <i class="bi bi-person-add icon"></i>
                              <span>Đăng ký</span>
                          </a>
                      </li>
                  </ul>
                  <!-- Menu user login -->
                  <!-- <ul>
                    <li>
                        <a href="#">
                            <span>Trang cá nhân</span>
                        </a>
                    </li>
                    <li>
                        <a href="/dang-xuat">
                            <span>Đăng xuất</span>
                        </a>
                    </li>
                  </ul> -->
                </div>
              </div>
              <div class="basket top-header-left-btn basket-list">
                <div class="top-header-left-btn-icon cart-icon-quantity">
                    <!-- <i class="bi bi-cart-fill"></i>
                    <p>0</p> -->
                </div>
                <span>GIỎ HÀNG</span>
                <div class="basket-member">
                    <!-- Giỏ hàng trống -->
                    <!-- <div class="basket-empty">
                      <i class="bi bi-bag-plus"></i>
                      <span>Không có sản phẩm nào trong giỏ hàng của bạn</span>
                    </div> -->
                    
                    <!-- Giỏ hàng có sản phẩm -->
                    <!-- <div class="basket-not-empty">
                      <div class="title_cart-header">
                        <a href="views/shoe-cart.html">Giỏ hàng</a>
                      </div>

                      <div class="cart_body-header">
                        <div class="cart-item-header">
                          <div class="cart-item-header-img">
                            <a href="">
                              <img src="https://shopvnb.com/img/180x180//uploads/gallery/giay-cau-long-mizuno-wave-claw-el-2-trang-xanh-bien-chinh-hang-71ga228020_1701804420.webp" alt="">
                            </a>
                          </div>
                          <div class="cart-item-info-header">
                            <div class="cart-item-name-header">
                              <a href="">Vợt cầu lông Yonex Astrox 100ZZ</a>
                              <div class="icon">
                                <i class="bi bi-x-circle"></i>
                              </div>
                            </div>
                            <div class="cart-item-name-bottom mt-2 d-flex align-items-center justify-content-between">
                              <div class="d-flex cart-quantity">
                                <button type="button">-</button>
                                <input type="text" name="cart-quantity" value="1" min="1">
                                <button type="button">+</button>
                              </div>
                              <div class="cart-price">
                                <span>1.790.000 ₫</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="cart-item-header">
                          <div class="cart-item-header-img">
                            <a href="">
                              <img src="https://shopvnb.com/img/180x180//uploads/gallery/giay-cau-long-mizuno-wave-claw-el-2-trang-xanh-bien-chinh-hang-71ga228020_1701804420.webp" alt="">
                            </a>
                          </div>
                          <div class="cart-item-info-header">
                            <div class="cart-item-name-header">
                              <a href="">Vợt cầu lông Yonex Astrox 100ZZ</a>
                              <div class="icon">
                                <i class="bi bi-x-circle"></i>
                              </div>
                            </div>
                            <div class="cart-item-name-bottom mt-2 d-flex align-items-center justify-content-between">
                              <div class="d-flex cart-quantity">
                                <button type="button">-</button>
                                <input type="text" name="cart-quantity" value="1" min="1">
                                <button type="button">+</button>
                              </div>
                              <div class="cart-price">
                                <span>1.790.000 ₫</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="cart-item-header">
                          <div class="cart-item-header-img">
                            <a href="">
                              <img src="https://shopvnb.com/img/180x180//uploads/gallery/giay-cau-long-mizuno-wave-claw-el-2-trang-xanh-bien-chinh-hang-71ga228020_1701804420.webp" alt="">
                            </a>
                          </div>
                          <div class="cart-item-info-header">
                            <div class="cart-item-name-header">
                              <a href="">Vợt cầu lông Yonex Astrox 100ZZ</a>
                              <div class="icon">
                                <i class="bi bi-x-circle"></i>
                              </div>
                            </div>
                            <div class="cart-item-name-bottom mt-2 d-flex align-items-center justify-content-between">
                              <div class="d-flex cart-quantity">
                                <button type="button">-</button>
                                <input type="text" name="cart-quantity" value="1" min="1">
                                <button type="button">+</button>
                              </div>
                              <div class="cart-price">
                                <span>1.790.000 ₫</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="cart-item-header">
                          <div class="cart-item-header-img">
                            <a href="">
                              <img src="https://shopvnb.com/img/180x180//uploads/gallery/giay-cau-long-mizuno-wave-claw-el-2-trang-xanh-bien-chinh-hang-71ga228020_1701804420.webp" alt="">
                            </a>
                          </div>
                          <div class="cart-item-info-header">
                            <div class="cart-item-name-header">
                              <a href="">Vợt cầu lông Yonex Astrox 100ZZ</a>
                              <div class="icon">
                                <i class="bi bi-x-circle"></i>
                              </div>
                            </div>
                            <div class="cart-item-name-bottom mt-2 d-flex align-items-center justify-content-between">
                              <div class="d-flex cart-quantity">
                                <button type="button">-</button>
                                <input type="text" name="cart-quantity" value="1" min="1">
                                <button type="button">+</button>
                              </div>
                              <div class="cart-price">
                                <span>1.790.000 ₫</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="cart-item-header">
                          <div class="cart-item-header-img">
                            <a href="">
                              <img src="https://shopvnb.com/img/180x180//uploads/gallery/giay-cau-long-mizuno-wave-claw-el-2-trang-xanh-bien-chinh-hang-71ga228020_1701804420.webp" alt="">
                            </a>
                          </div>
                          <div class="cart-item-info-header">
                            <div class="cart-item-name-header">
                              <a href="">Vợt cầu lông Yonex Astrox 100ZZ</a>
                              <div class="icon">
                                <i class="bi bi-x-circle"></i>
                              </div>
                            </div>
                            <div class="cart-item-name-bottom mt-2 d-flex align-items-center justify-content-between">
                              <div class="d-flex cart-quantity">
                                <button type="button">-</button>
                                <input type="text" name="cart-quantity" value="1" min="1">
                                <button type="button">+</button>
                              </div>
                              <div class="cart-price">
                                <span>1.790.000 ₫</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="cart-bottom-header">
                        <div class="cart-bottom-price d-flex justify-content-between">
                          <span>Tổng tiền</span>
                          <span>1.777.444 đ</span>
                        </div>
                        <button type="button" class="btn">Đặt hàng</button>
                      </div>
                    </div> -->
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="bottom-header">
        <ul>
            <li><a href="../index.html">TRANG CHỦ</a></li>
            <li class="bottom-header-listmember">
              <a href="#" class="dropdown">SẢN PHẨM
                  <i class="bi bi-chevron-down"></i>
              </a>
              <div class="list-menu">
                <div class="row list-menu-row">
                  <!-- <div class="col list-menu-member">
                    <div class="col-heading">
                        <a class="col-header" href="">VỢT CẦU LÔNG</a>
                    </div>
                    <ul class="d-inline">
                        <li><a href="">Vợt cầu lông Yonex</a></li>
                        <li><a href="">Vợt cầu lông Victor</a></li>
                        <li><a href="">Vợt cầu lông Lining</a></li>
                        <li><a href="">Vợt Cầu Lông Mizuno</a></li>
                        <li><a href="">Vợt Cầu Lông Apacs</a></li>
                    </ul>
                    <a class="col-footer" href="">Xem thêm</a>
                  </div> -->
                </div>
              </div>
            </li>
            <li><a href="/views/sale-off-view.html">SALE OFF</a></li>
            <li><a href="/views/tintuc-view.html">TIN TỨC</a></li>
            <li><a href="#">CHÍNH SÁCH NHƯỢNG QUYỀN</a></li>
            <li class="list-train">
                <a href="#" class="dropdown">HƯỚNG DẪN
                    <i class="bi bi-chevron-down"></i>
                </a>
                <ul class="list-train-member">
                    <li><a href="/views/train-pay-view.html">Hướng dẫn thanh toán</a></li>
                    <!-- <li><a href="">Hướng dẫn chọn vợt cầu lông</a></li>
                    <li><a href="">Công nghệ sản phẩm</a></li> -->
                </ul>
            </li>
            <li><a href="/views/introduction-view.html">GIỚI THIỆU</a></li>
            <li><a href="/views/contact-view.html">LIÊN HỆ</a></li>
        </ul>
    </div>
</header>
<main class="main">
    <section class="section-breadcrumb">
        <div class="container">
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-main mb-0">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Đăng kí</li>
                </ol>
            </nav>
        </div>
    </section>
    <form onsubmit="submitFormRegister(event)" class="register-view d-flex justify-content-center flex-column container">
        <div class="title_modules text-center">
            <h2>ĐĂNG KÝ</h2>
        </div>
        <p>Đã có tài khoản đăng nhập <a href="../views/login-view.html">Tại đây</a></p>
        <input type="text" name="name" class="name" placeholder="Nhập tên của bạn" required>
        <input type="email" name="email" class="email" placeholder="Nhập email của bạn" required>
        <input type="text" name="phoneNumber" class="phone-number" placeholder="Số điện thoại" required>
        <input type="password" name="password" class="password" placeholder="Mật khẩu" required>
        <input type="password" name="confirmPassword" class="confirm-password" placeholder="Nhập lại mật khẩu" required>
        <button type="submit" class="btn-register">ĐĂNG KÝ</button>
    
        <div class="loader-container">
            <div class="loader"></div>
        </div>
    </form>
</main>
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <h4 class="title-menu">Thông tin chung</h4>
                <div class="des_foo">
                    <p>
                        <b>VNB Sports</b>
                        là hệ thống cửa hàng cầu lông với hơn 50 chi nhánh trên toàn quốc, cung cấp
                        sỉ và lẻ các mặt hàng dụng cụ cầu lông từ phong trào tới chuyên nghiệp
                    </p>
                    <p>
                        <b>Với sứ mệnh:</b>
                        <em>
                            "VNB cam kết mang đến những sản phẩm, dịch vụ chất lượng tốt nhất phục vụ cho
                            người chơi thể thao để nâng cao sức khỏe của chính mình."
                        </em>
                    </p>
                    <p>
                        <b>Tầm nhìn:</b>
                        <em>
                            "Trở thành nhà phân phối và sản xuất thể thao lớn nhất Việt Nam"
                        </em>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 ps-4">
                <h4 class="title-menu">Thông tin liên hệ</h4>
                <div class="des_foo">
                    <p>
                        <b>Nguyễn Văn Hải</b>
                    </p>
                    <p>
                        <b>Đỗ Minh Hiếu</b>
                    </p>
                    <p>
                        <b>Phan Đức Huy</b>
                    </p>
                    <p>
                        <b>Hotline:</b>
                        0355063692 | 0785277320
                    </p>
                    <p>
                        <b>Email:</b>
                        info@gmail.com
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <h4 class="title-menu">Chính sách</h4>
                <ul class="list">
                    <li class="item"><a href="#">Chính sách đổi trả, hoàn tiền</a></li>
                    <li class="item"><a href="#">Chính sách bảo hành</a></li>
                    <li class="item"><a href="#">Chính sách xử lý khiếu nại</a></li>
                    <li class="item"><a href="#">Chính sách vận chuyển</a></li>
                    <li class="item"><a href="#">Điều khoản sử dụng</a></li>
                    <li class="item"><a href="#">Chính sách bảo mật thông tin</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <h4 class="title-menu">Hướng dẫn</h4>
                <ul class="list">
                    <li class="item"><a href="#">Chính sách đổi trả, hoàn tiền</a></li>
                    <li class="item"><a href="#">Chính sách bảo hành</a></li>
                    <li class="item"><a href="#">Chính sách xử lý khiếu nại</a></li>
                    <li class="item"><a href="#">Chính sách vận chuyển</a></li>
                    <li class="item"><a href="#">Điều khoản sử dụng</a></li>
                    <li class="item"><a href="#">Chính sách bảo mật thông tin</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/register.js"></script>
<script src="../assets//js/header.js"></script>
<script src="../assets/js/cart.js"></script>
</body>
</html>