<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thanh lý</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="../assets/css/reset.css">
  <link rel="stylesheet" href="../assets/css/font.css">
  <link rel="stylesheet" href="../assets/css/color.css">
  <link rel="stylesheet" href="../assets/css/common.css">
  <link rel="stylesheet" href="../assets/css/header.css">
  <link rel="stylesheet" href="../assets/css/main.css">
  <link rel="stylesheet" href="../assets/css/footer.css">
</head>
<body>
<div class="opacity_menu"></div>
<!--header-->
<header id="header">
  <!--Top header-->
  <div class="container">
    <div id="top-header">
      <div class="top-header-logo">
        <img src="../assets/img/Logo/Logo-thaythe.jpg" alt="Logo">
      </div>
      <div class="top-header-center">
        <div class="top-header-center-hotline">
          <i class="hotline-map bi bi-telephone-fill"></i>
          <span>HOTLINE:</span>
          <a href="">0379885603 | 0333301536</a>
        </div>
        <div class="top-header-center-liststore">
          <i class="hotline-map bi bi-map-fill"></i>
          <a href="">HỆ THỐNG CỬA HÀNG</a>
        </div>
        <div class="top-header-center-searchmember">
          <input type="text" placeholder="Tìm sản phẩm...">
          <i class="bi bi-search"></i>
        </div>
      </div>
      <div class="top-header-left">
        <div class="top-header-left-btn search-btn">
          <div class="top-header-left-btn-icon">
            <i class="bi bi-binoculars-fill"></i>
          </div>
          <span>TRA CỨU</span>
          <div class="search-list">
            <ul>
              <li><a href="">Kiểm tra đơn hàng</a></li>
              <li><a href="">Kiểm tra bảo hành</a></li>
            </ul>
          </div>
        </div>
        <div class="top-header-left-btn acc-btn">
          <div class="top-header-left-btn-icon">
            <i class="bi bi-person-circle"></i>
          </div>
          <span>TÀI KHOẢN</span>
          <div class="acc-list">
            <ul>
              <li><a href="">Đăng nhập</a></li>
              <li><a href="">Đăng kí</a></li>
            </ul>
          </div>
        </div>
        <div class="basket top-header-left-btn basket-list">
          <div class="top-header-left-btn-icon">
            <i class="bi bi-cart-fill"></i>
            <p>0</p>
          </div>
          <span>GIỎ HÀNG</span>
          <div class="basket-member">
            <i class="bi bi-bag-plus"></i>
            <span>Không có sản phẩm nào trong giỏ hàng của bạn</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-header">
    <ul>
      <li><a href="">TRANG CHỦ</a></li>
      <li class="bottom-header-listmember">
        <a href="" class="dropdown">SẢN PHẨM
          <i class="bi bi-chevron-down"></i>
        </a>
        <div class="list-menu">
          <div class="row">
            <div class="col list-menu-member">
              <div class="col-heading">
                <a class="col-header" href="">VỢT CẦU LÔNG</a>
              </div>
              <ul class="d-inline">
                <li><a href="">Vợt cầu lông Yonex</a></li>
                <li><a href="">Vợt cầu lông Victor</a></li>
                <li><a href="">Vợt cầu lông Lining</a></li>
                <li><a href="">Vợt Cầu Lông Mizuno</a></li>
                <li><a href="">Vợt Cầu Lông Apacs</a></li>
                <li><a href="">Vợt Cầu Lông VNB</a></li>
                <li><a href="">Vợt cầu lông Proace</a></li>
                <li><a href="">Vợt cầu lông Forza</a></li>
                <li><a href="">Vợt Cầu Lông FlyPower</a></li>
                <li><a href="">Vợt Cầu Lông Tenway</a></li>
              </ul>
              <a class="col-footer" href="">Xem thêm</a>
            </div>
            <div class="col list-menu-member">
              <div class="col-heading">
                <a class="col-header" href="">GIÀY CẦU LÔNG</a>
              </div>
              <ul class="d-inline">
                <li><a href="">Giày cầu lông Yonex</a></li>
                <li><a href="">Giày cầu lông Victor</a></li>
                <li><a href="">Giày cầu lông Lining</a></li>
                <li><a href="">Giày Cầu Lông Kawasaki</a></li>
                <li><a href="">Giày Cầu Lông Mizuno</a></li>
                <li><a href="">Giày Cầu Lông Kumpoo</a></li>
                <li><a href="">Giày cầu lông Promax</a></li>
                <li><a href="">Giày cầu lông Babolat</a></li>
                <li><a href="">Giày Cầu Lông Sunbatta</a></li>
                <li><a href="">Giày Cầu Lông Apacs</a></li>
              </ul>
              <a class="col-footer" href="">Xem thêm</a>
            </div>
            <div class="col list-menu-member">
              <div class="col-heading">
                <a class="col-header" href="">ÁO CẦU LÔNG</a>
              </div>
              <ul class="d-inline">
                <li><a href="">Áo cầu lông Yonex</a></li>
                <li><a href="">Áo cầu lông VNB</a></li>
                <li><a href="">Áo cầu lông Kamito</a></li>
                <li><a href="">Áo Cầu Lông Victo</a></li>
                <li><a href="">Áo Cầu Lông Lining</a></li>
                <li><a href="">Áo Cầu Lông DonexPro</a></li>
                <li><a href="">Áo cầu lông Alien Armour</a></li>
                <li><a href="">Áo cầu lông SFD</a></li>
                <li><a href="">Áo Cầu Lông Kawasaki</a></li>
                <li><a href="">Áo Cầu Lông Pebble Beach</a></li>
              </ul>
              <a class="col-footer" href="">Xem thêm</a>
            </div>
            <div class="col list-menu-member">
              <div class="col-heading">
                <a class="col-header" href="">VÁY CẦU LÔNG</a>
              </div>
              <ul class="d-inline">
                <li><a href="">Váy cầu lông Yonex</a></li>
                <li><a href="">Váy cầu lông Victec</a></li>
                <li><a href="">Váy cầu lông Lining</a></li>
                <li><a href="">Váy Cầu Lông DonexPro</a></li>
                <li><a href="">Váy Cầu Lông Victor</a></li>
              </ul>
            </div>
            <div class="col list-menu-member">
              <div class="col-heading">
                <a class="col-header" href="">QUẦN CẦU LÔNG</a>
              </div>
              <ul class="d-inline">
                <li><a href="">Quần cầu lông Yonex</a></li>
                <li><a href="">Quần cầu lông Victor</a></li>
                <li><a href="">Quần cầu lông Lining</a></li>
                <li><a href="">Quần Cầu Lông VNB</a></li>
                <li><a href="">Quần Cầu Lông SFD</a></li>
                <li><a href="">Quần Cầu Lông DonexPro</a></li>
                <li><a href="">Quần cầu lông Apacs</a></li>
                <li><a href="">Quần cầu lông Alien Amour</a></li>
                <li><a href="">Quần Cầu Lông Mizuno</a></li>
                <li><a href="">Quần Cầu Lông Kawasaki</a></li>
              </ul>
              <a class="col-footer" href="">Xem thêm</a>
            </div>
          </div>
        </div>
      </li>
      <li><a href="">SALE OFF</a></li>
      <li><a href="">TIN TỨC</a></li>
      <li><a href="">CHÍNH SÁCH NHƯỢNG QUYỀN</a></li>
      <li class="list-train">
        <a href="" class="dropdown">HƯỚNG DẪN
          <i class="bi bi-chevron-down"></i>
        </a>
        <ul class="list-train-member">
          <li><a href="">Hướng dẫn thanh toán</a></li>
          <li><a href="">Hướng dẫn mua hàng</a></li>
          <li><a href="">Hướng dẫn chọn vợt cầu lông</a></li>
          <li><a href="">Công nghệ sản phẩm</a></li>
        </ul>
      </li>
      <li><a href="">GIỚI THIỆU</a></li>
      <li><a href="">LIÊN HỆ</a></li>
    </ul>
  </div>
</header>
<!--body-->
<div class="bodywrap">
  <div class="layout-collection">
    <div class="container">
      <div class="row">
        <div class="dqdt-sidebar sidebar col-lg-3 col-12">
          <div class="section-box-bg">
            <div class="filter-content">
              <aside class="aside-item filter-price">
                <div class="aside-title">
                  <h2 class="title-head margin-top-0">
                    <span>MỨC GIẢM GIÁ</span>
                  </h2>
                </div>
                <div class="aside-content filter-group">
                  <ul>
                    <li class="filter-item filter-item--check-box filter-item--green">
                      <span>
                        <label for="filter-giam-gia-20">
                          <input type="checkbox" id="filter-giam-gia-20">
                          <i class="fa"></i>
                          20%
                        </label>
                      </span>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                      <span>
                        <label for="filter-giam-gia-20">
                          <input type="checkbox" id="filter-giam-gia-30">
                          <i class="fa"></i>
                          30%
                        </label>
                      </span>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                      <span>
                        <label for="filter-giam-gia-20">
                          <input type="checkbox" id="filter-giam-gia-40">
                          <i class="fa"></i>
                          40%
                        </label>
                      </span>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                      <span>
                        <label for="filter-giam-gia-20">
                          <input type="checkbox" id="filter-giam-gia-50">
                          <i class="fa"></i>
                          50%
                        </label>
                      </span>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                      <span>
                        <label for="filter-giam-gia-20">
                          <input type="checkbox" id="filter-giam-gia-60">
                          <i class="fa"></i>
                          60%
                        </label>
                      </span>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                      <span>
                        <label for="filter-giam-gia-20">
                          <input type="checkbox" id="filter-giam-gia-70">
                          <i class="fa"></i>
                          70%
                        </label>
                      </span>
                    </li>
                  </ul>
                </div>

              </aside>
              <aside class="aside-item filter-price">
                <div class="aside-title">
                  <h2>
                    <span>CHỌN MỨC GIÁ</span>
                  </h2>
                </div>
                <div class="aside-content filter-group content_price">
                  <ul>
                    <li class="filter-item filter-item--check-box filter-item--green">
                      <span>
                        <label for="filter-duoi-500-000d">
                          <input type="checkbox" id="filter-duoi-500-000d">
                          <i class="fa">
                          </i>
                          Giá dưới 500.000đ
                        </label>
                      </span>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                      <span>
                        <label for="filter-500-000d-1000-000d">
                          <input type="checkbox" id="filter-500-000d-1000-000d">
                          <i class="fa">
                          </i>
                          500.000đ - 1.000.000đ
                        </label>
                      </span>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                      <span>
                        <label for="filter-1000-000d-2000-000d">
                          <input type="checkbox" id="filter-1000-000d-2000-000d">
                          <i class="fa">
                          </i>
                          1 - 2 triệu
                        </label>
                      </span>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                      <span>
                        <label for="filter-2000-000d-3000-000d">
                          <input type="checkbox" id="filter-2000-000d-3000-000d">
                          <i class="fa">
                          </i>
                          2 - 3 triệu
                        </label>
                      </span>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                      <span>
                        <label for="filter-tren3-000-000d">
                          <input type="checkbox" id="filter-tren3-000-000d">
                          <i class="fa">
                          </i>
                          Giá trên 3 triệu
                        </label>
                      </span>
                    </li>
                  </ul>
                </div>
              </aside>
              <aside class="aside-item filter-vendor">
                <div class="aside-title">
                  <h2 class="title-head margin-top-0">
                    <span>CHI NHÁNH</span>
                  </h2>
                </div>
                <div class="aside-content filter-group">
                  <ul class="filter-cn">
                    <li class="filter-item filter-item--check-box filter-item--green ">
                      <label for="filter-cn-78" class="cn-78">
                        <input type="checkbox" id="filter-cn-78" class="cn-78">
                        <i class="fa"></i>
                        Cửa hàng của Huy
                      </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green ">
                      <label for="filter-cn-79" class="cn-79">
                        <input type="checkbox" id="filter-cn-79" class="cn-79">
                        <i class="fa"></i>
                        Cửa hàng của Hiếu
                      </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green ">
                      <label for="filter-cn-80" class="cn-80">
                        <input type="checkbox" id="filter-cn-80" class="cn-80">
                        <i class="fa"></i>
                        Cửa hàng của Hải
                      </label>
                    </li>
                  </ul>
                </div>
              </aside>
            </div>
            <div class="aside-item collection-category aside-cate">
              <div class="aside-title">
                Danh mục sản phẩm
              </div>
              <aside class="aside-content aside-content-sub clearfix">
                <ul class="navbar-pills nav-category">
                  <li class="nav-item active">
                    <a href="./sale-off-view.html" class="nav-link">Tất cả danh mục</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">Vợt cầu lông</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">Giày cầu lông</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">Áo cầu lông</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">Váy cầu lông</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">Quần cầu lông</a>
                  </li>
                </ul>
              </aside>
            </div>
            <div class="clearfix">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
