<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
<!-- Header -->
<header id="header">
    <div class="container">
        <div id="top-header">
            <div class="top-header-logo">
                <a href="/">
                  <img src="../assets/img/Logo/Logo-thaythe.jpg" alt="Logo">
                </a>
            </div>
            <div class="top-header-center">
                <div class="top-header-center-hotline">
                    <i class="hotline-map bi bi-telephone-fill"></i>
                    <span>HOTLINE:</span>
                    <a href="tel:+84379885603">
                      0379885603 | 0333301536
                    </a>
                </div>
                <div class="top-header-center-liststore">
                    <i class="hotline-map bi bi-map-fill"></i>
                    <a href="/views/store-system.html">HỆ THỐNG CỬA HÀNG</a>
                </div>
                <div class="top-header-center-searchmember">
                    <input type="text" placeholder="Tìm sản phẩm...">
                    <i class="bi bi-search"></i>
                </div>
            </div>
            <div class="top-header-left">
              <div class="top-header-left-btn search-btn">
                  <div class="top-header-left-btn-icon">
                      <i class="bi bi-binoculars-fill"></i>
                  </div>
                  <span>TRA CỨU</span>
                  <div class="search-list arrow-menu">
                      <ul>
                          <li><a href="/views/search-orders.html">Kiểm tra đơn hàng</a></li>
                          <li><a href="/views/search-warranty.html">Kiểm tra bảo hành</a></li>
                      </ul>
                  </div>
              </div>
              <div class="top-header-left-btn acc-btn">
                <div class="top-header-left-btn-icon">
                    <i class="bi bi-person-circle"></i>
                </div>
                <span>TÀI KHOẢN</span>
                <div class="acc-list arrow-menu">
                  <ul>
                      <li>
                          <a href="/views/login-view.html">
                              <i class="bi bi-box-arrow-in-right icon"></i>
                              <span>Đăng nhập</span>
                          </a>
                      </li>
                      <li>
                          <a href="/views/register-view.html">
                              <i class="bi bi-person-add icon"></i>
                              <span>Đăng ký</span>
                          </a>
                      </li>
                  </ul>
                  <!-- Menu user login -->
                  <!-- <ul>
                    <li>
                        <a href="#">
                            <span>Trang cá nhân</span>
                        </a>
                    </li>
                    <li>
                        <a href="/dang-xuat">
                            <span>Đăng xuất</span>
                        </a>
                    </li>
                  </ul> -->
                </div>
              </div>
              <div class="basket top-header-left-btn basket-list">
                <div class="top-header-left-btn-icon cart-icon-quantity">
                    <!-- <i class="bi bi-cart-fill"></i>
                    <p>0</p> -->
                </div>
                <span>GIỎ HÀNG</span>
                <div class="basket-member">
                    <!-- Giỏ hàng trống -->
                    <!-- <div class="basket-empty">
                      <i class="bi bi-bag-plus"></i>
                      <span>Không có sản phẩm nào trong giỏ hàng của bạn</span>
                    </div> -->
                    
                    <!-- Giỏ hàng có sản phẩm -->
                    <!-- <div class="basket-not-empty">
                      <div class="title_cart-header">
                        <a href="views/shoe-cart.html">Giỏ hàng</a>
                      </div>

                      <div class="cart_body-header">
                        <div class="cart-item-header">
                          <div class="cart-item-header-img">
                            <a href="">
                              <img src="https://shopvnb.com/img/180x180//uploads/gallery/giay-cau-long-mizuno-wave-claw-el-2-trang-xanh-bien-chinh-hang-71ga228020_1701804420.webp" alt="">
                            </a>
                          </div>
                          <div class="cart-item-info-header">
                            <div class="cart-item-name-header">
                              <a href="">Vợt cầu lông Yonex Astrox 100ZZ</a>
                              <div class="icon">
                                <i class="bi bi-x-circle"></i>
                              </div>
                            </div>
                            <div class="cart-item-name-bottom mt-2 d-flex align-items-center justify-content-between">
                              <div class="d-flex cart-quantity">
                                <button type="button">-</button>
                                <input type="text" name="cart-quantity" value="1" min="1">
                                <button type="button">+</button>
                              </div>
                              <div class="cart-price">
                                <span>1.790.000 ₫</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="cart-item-header">
                          <div class="cart-item-header-img">
                            <a href="">
                              <img src="https://shopvnb.com/img/180x180//uploads/gallery/giay-cau-long-mizuno-wave-claw-el-2-trang-xanh-bien-chinh-hang-71ga228020_1701804420.webp" alt="">
                            </a>
                          </div>
                          <div class="cart-item-info-header">
                            <div class="cart-item-name-header">
                              <a href="">Vợt cầu lông Yonex Astrox 100ZZ</a>
                              <div class="icon">
                                <i class="bi bi-x-circle"></i>
                              </div>
                            </div>
                            <div class="cart-item-name-bottom mt-2 d-flex align-items-center justify-content-between">
                              <div class="d-flex cart-quantity">
                                <button type="button">-</button>
                                <input type="text" name="cart-quantity" value="1" min="1">
                                <button type="button">+</button>
                              </div>
                              <div class="cart-price">
                                <span>1.790.000 ₫</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="cart-item-header">
                          <div class="cart-item-header-img">
                            <a href="">
                              <img src="https://shopvnb.com/img/180x180//uploads/gallery/giay-cau-long-mizuno-wave-claw-el-2-trang-xanh-bien-chinh-hang-71ga228020_1701804420.webp" alt="">
                            </a>
                          </div>
                          <div class="cart-item-info-header">
                            <div class="cart-item-name-header">
                              <a href="">Vợt cầu lông Yonex Astrox 100ZZ</a>
                              <div class="icon">
                                <i class="bi bi-x-circle"></i>
                              </div>
                            </div>
                            <div class="cart-item-name-bottom mt-2 d-flex align-items-center justify-content-between">
                              <div class="d-flex cart-quantity">
                                <button type="button">-</button>
                                <input type="text" name="cart-quantity" value="1" min="1">
                                <button type="button">+</button>
                              </div>
                              <div class="cart-price">
                                <span>1.790.000 ₫</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="cart-item-header">
                          <div class="cart-item-header-img">
                            <a href="">
                              <img src="https://shopvnb.com/img/180x180//uploads/gallery/giay-cau-long-mizuno-wave-claw-el-2-trang-xanh-bien-chinh-hang-71ga228020_1701804420.webp" alt="">
                            </a>
                          </div>
                          <div class="cart-item-info-header">
                            <div class="cart-item-name-header">
                              <a href="">Vợt cầu lông Yonex Astrox 100ZZ</a>
                              <div class="icon">
                                <i class="bi bi-x-circle"></i>
                              </div>
                            </div>
                            <div class="cart-item-name-bottom mt-2 d-flex align-items-center justify-content-between">
                              <div class="d-flex cart-quantity">
                                <button type="button">-</button>
                                <input type="text" name="cart-quantity" value="1" min="1">
                                <button type="button">+</button>
                              </div>
                              <div class="cart-price">
                                <span>1.790.000 ₫</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="cart-item-header">
                          <div class="cart-item-header-img">
                            <a href="">
                              <img src="https://shopvnb.com/img/180x180//uploads/gallery/giay-cau-long-mizuno-wave-claw-el-2-trang-xanh-bien-chinh-hang-71ga228020_1701804420.webp" alt="">
                            </a>
                          </div>
                          <div class="cart-item-info-header">
                            <div class="cart-item-name-header">
                              <a href="">Vợt cầu lông Yonex Astrox 100ZZ</a>
                              <div class="icon">
                                <i class="bi bi-x-circle"></i>
                              </div>
                            </div>
                            <div class="cart-item-name-bottom mt-2 d-flex align-items-center justify-content-between">
                              <div class="d-flex cart-quantity">
                                <button type="button">-</button>
                                <input type="text" name="cart-quantity" value="1" min="1">
                                <button type="button">+</button>
                              </div>
                              <div class="cart-price">
                                <span>1.790.000 ₫</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="cart-bottom-header">
                        <div class="cart-bottom-price d-flex justify-content-between">
                          <span>Tổng tiền</span>
                          <span>1.777.444 đ</span>
                        </div>
                        <button type="button" class="btn">Đặt hàng</button>
                      </div>
                    </div> -->
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="bottom-header">
        <ul>
            <li><a href="../index.html">TRANG CHỦ</a></li>
            <li class="bottom-header-listmember">
              <a href="#" class="dropdown">SẢN PHẨM
                  <i class="bi bi-chevron-down"></i>
              </a>
              <div class="list-menu">
                <div class="row list-menu-row">
                  <!-- <div class="col list-menu-member">
                    <div class="col-heading">
                        <a class="col-header" href="">VỢT CẦU LÔNG</a>
                    </div>
                    <ul class="d-inline">
                        <li><a href="">Vợt cầu lông Yonex</a></li>
                        <li><a href="">Vợt cầu lông Victor</a></li>
                        <li><a href="">Vợt cầu lông Lining</a></li>
                        <li><a href="">Vợt Cầu Lông Mizuno</a></li>
                        <li><a href="">Vợt Cầu Lông Apacs</a></li>
                    </ul>
                    <a class="col-footer" href="">Xem thêm</a>
                  </div> -->
                </div>
              </div>
            </li>
            <li><a href="/views/sale-off-view.html">SALE OFF</a></li>
            <li><a href="/views/tintuc-view.html">TIN TỨC</a></li>
            <li><a href="#">CHÍNH SÁCH NHƯỢNG QUYỀN</a></li>
            <li class="list-train">
                <a href="#" class="dropdown">HƯỚNG DẪN
                    <i class="bi bi-chevron-down"></i>
                </a>
                <ul class="list-train-member">
                    <li><a href="/views/train-pay-view.html">Hướng dẫn thanh toán</a></li>
                    <!-- <li><a href="">Hướng dẫn chọn vợt cầu lông</a></li>
                    <li><a href="">Công nghệ sản phẩm</a></li> -->
                </ul>
            </li>
            <li><a href="/views/introduction-view.html">GIỚI THIỆU</a></li>
            <li><a href="/views/contact-view.html">LIÊN HỆ</a></li>
        </ul>
    </div>
</header>
    <main class="container">
        <div class="row">
            <div class="menu-infomation col-3">
                <div class="infomation-menu">
                    <span class="title-head">
                        Danh mục tin tức
                    </span>
                    <nav class="nav-category">
                        <ul class="nav-list">
                            <li class="nav-item nav-item-lv1">
                                <div class="nav-lv1">
                                    <a href="#">Thông Tin Tổng Hợp Cầu Lông</a>
                                    <i class="bi bi-plus-lg icon icon-animation"></i>
                                </div>
                                <ul class="menu_down nav-lv2">
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Kiến Thức Cầu Lông</a>
                                    </li>
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Sân Cầu Lông</a>
                                    </li>
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Thầy Dạy Cầu Lông</a>
                                    </li>
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Các Trường Thể Thao Đạt Chuẩn</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item nav-item-lv1">
                                <div class="nav-lv1">
                                    <a href="#">Câu Lạc Bộ - Nhóm Cầu Lông</a>
                                    <i class="bi bi-plus-lg icon"></i>
                                </div>
                            </li>
                            <li class="nav-item nav-item-lv1">
                                <div class="nav-lv1">
                                    <a href="#">Thầy Dạy Đánh Cầu Lông</a>
                                    <i class="bi bi-plus-lg icon"></i>
                                </div>
                            </li>
                            <li class="nav-item nav-item-lv1">
                                <div class="nav-lv1">
                                    <a href="#">Chính Sách</a>
                                    <i class="bi bi-plus-lg icon"></i>
                                </div>
                            </li>
                            <li class="nav-item nav-item-lv1">
                                <div class="nav-lv1">
                                    <a href="#">Hướng Dẫn</a>
                                    <i class="bi bi-plus-lg icon icon-animation"></i>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="infomation-menu">
                    <span class="title-head">
                        Danh mục sản phẩm
                    </span>
                    <nav class="nav-category">
                        <ul class="nav-list">
                            <li class="nav-item nav-item-lv1">
                                <div class="nav-lv1">
                                    <a href="#">Vợt Cầu Lông</a>
                                    <i class="bi bi-plus-lg icon icon-animation"></i>
                                </div>
                                <ul class="menu_down nav-lv2">
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Vợt cầu lông Yonex</a>
                                    </li>
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Vợt cầu lông Lining</a>
                                    </li>
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Vợt cầu lông Victo</a>
                                    </li>
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Vợt cầu lông VNB</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item nav-item-lv1">
                                <div class="nav-lv1">
                                    <a href="#">Quần Cầu Lông</a>
                                    <i class="bi bi-plus-lg icon"></i>
                                </div>
                                <ul class="menu_down nav-lv2">
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Quần Cầu Lông Yonex</a>
                                    </li>
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Quần Cầu Lông Lining</a>
                                    </li>
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Quần Cầu Lông VNB</a>
                                    </li>
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Quần Cầu Lông Victo</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item nav-item-lv1">
                                <div class="nav-lv1">
                                    <a href="#">Áo Cầu Lông</a>
                                    <i class="bi bi-plus-lg icon"></i>
                                </div>
                                <ul class="menu_down nav-lv2">
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Áo Cầu Lông Yonex</a>
                                    </li>
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Áo Cầu Lông Lining</a>
                                    </li>
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Áo Cầu Lông VNB</a>
                                    </li>
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Áo Cầu Lông Victo</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item nav-item-lv1">
                                <div class="nav-lv1">
                                    <a href="#">Giày Cầu Lông</a>
                                    <i class="bi bi-plus-lg icon"></i>
                                </div>
                                <ul class="menu_down nav-lv2">
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Giày Cầu Lông Yonex</a>
                                    </li>
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Giày Cầu Lông Lining</a>
                                    </li>
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Giày Cầu Lông VNB</a>
                                    </li>
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Giày Cầu Lông Victo</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item nav-item-lv1">
                                <div class="nav-lv1">
                                    <a href="#">Váy Cầu Lông</a>
                                    <i class="bi bi-plus-lg icon icon-animation"></i>
                                </div>
                                <ul class="menu_down nav-lv2">
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Váy Cầu Lông Yonex</a>
                                    </li>
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Váy Cầu Lông Lining</a>
                                    </li>
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Váy Cầu Lông VNB</a>
                                    </li>
                                    <li class="dropdown-submenu nav-item">
                                        <a href="#">Váy Cầu Lông Victo</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="infomation-system col-9">
                <h1>Hướng dẫn bảo quản và sử dụng túi cầu lông Yonex đúng cách theo tiêu chuẩn của hãng</h1>
                <i class="bi bi-clock">16-12-2023 22:20</i>
                <i class="bi bi-person">Do Minh Hieu</i></br>
                <h2>Bài viết được Shop - Hệ thống shop cầu lông hàng đầu DH.EAUT với hơn 9 chi nhánh trên toàn quốc kiểm duyệt và chia sẻ.</h2>
                <p>Túi cầu lông Yonex không chỉ là một vật dụng chứa đựng, mà còn là người bạn đồng hành đáng tin cậy. Với thiết kế độc đáo và chất lượng vượt trội, túi cầu lông Yonex không chỉ giữ cho các vật dụng cầu lông của bạn an toàn, mà còn giúp bạn duy trì trạng thái tốt nhất cho chúng. Trong bài viết ngày hôm nay
                    , Shop sẽ hướng dẫn chi tiết đến các bạn cách sử dụng túi cầu lông Yonex
                    theo khuyến nghị của hãng để đảm bảo tối ưu công năng và chất lượng đến từ thương hiệu bậc nhất Yonex.</p>
                <strong>Sử dụng và bảo quản túi cầu lông Yonex như thế nào để duy trì được tuổi thọ cho sản phẩm.</strong>
                <h2>- Cách sử dụng</h2><br>
                <span>Để sử dụng túi cầu lông Yonex đúng cách và tránh hư hỏng, người chơi nên tuân thủ các điều sau đây:</span><br>
                <span>- Khi mang sản phẩm, tiếp xúc với người hoặc đồ vật xung quanh có thể dẫn đến tai nạn hoặc thương tích không mong muốn. Hãy hạn chế và cẩn thận khi tiếp xúc với mọi người hoặc những thứ xung quanh bạn.</span><br>
                <span>- Nếu bạn nhét các vật quá nặng hoặc sắc nhọn như sách hoặc nếu bạn nhét sản phẩm theo cách đặt vật nặng lên một khu vực cụ thể thì sẽ có nguy cơ hư hỏng bất kể thời gian sử dụng.</span><br>
                <span>- Ma sát với mặt đất hoặc sàn nhà có thể làm hỏng vải hoặc dây kéo của túi.</span><br>
                <span>- Mở và đóng thanh trượt dây kéo bằng cách di chuyển dọc theo đường ray (phần tử). Nếu bạn mở hoặc đóng khóa kéo bằng cách di chuyển theo đường chéo (như hình minh họa bên dưới), có thể làm hỏng khóa kéo.</span><br>
                <img src="../assets/img/su-dung-tui-cau-long-Yonex.jpg" alt=""><br>
                <h2>Cách bảo quản</h2><br>
                <span>Sử dụng trong điều kiện ẩm ướt như mưa hoặc cho quần áo ướt trực tiếp vào sản phẩm có thể khiến màu bị lem hoặc phai màu. Vì vậy mà bạn nên che chắn chiếc túi cẩn thận, hạn chế tiếp xúc với nước và độ ẩm. Bên cạnh đó
                    là bạn nên chuẩn bị một chiếc túi nhỏ để đựng quần áo ướt rồi mới bỏ
                    vào túi để hạn chế chất liệu bên trong bị ẩm mốc.</span><br>
                <span>Tránh giặt hoặc ủi bởi vì làm như vậy có thể gây ra sự đổi màu, phai màu hoặc mất hình dạng. Thay vào đó bạn có thể sử dụng một chiếc khăn ẩm và dung dịch tẩy rửa chuyên dụng để vệ sinh bên ngoài bởi vì chất liệu
                    bên ngoài thường làm bằng da tổng hợp nên khá vệ sinh nhưng khi tiếp
                    xúc với nước nhiều, lâu ngày sẽ có thể bị bong tróc.</span><br>
                <span>Đặt chiếc túi ở nơi có bóng râm và thông gió tốt. Hạn chế bảo quản ở nhiệt độ và độ ẩm cao hoặc dưới ánh nắng trực tiếp có thể gây phai màu, đổi màu hoặc hư hỏng cho chiếc túi.</span><br>
                <strong>Một số lưu ý trong quá trình sử dụng túi cầu lông Yonex mà bạn cần phải biết</strong><br>
                <h2>- Đóng mở dây kéo theo chiều nằm ngang</h2>
                <span>Chúng tôi khuyên bạn nên đặt túi theo chiều ngang (ngang) khi mở và đóng khóa kéo. Khi cầm túi theo chiều dọc, hành lý bên trong sẽ tập trung ở phía dưới khiến túi dễ bị cong, méo mó. Việc mở, đóng dây kéo khi túi bị méo hoặc đặt thẳng đứng sẽ khiến tải trọng tập trung vào một khu vực dẫn đến hư hỏng dây kéo.</span><br>
                <span>Ngoài ra để sử dụng túi cầu lông Yonex đúng cách người chơi cần hạn chế việc mở và đóng theo lực chéo hoặc lực xoắn lên thanh ray bởi điều này có thể dẫn đến thanh trượt bị trật khỏi ray và bung ra.</span><br>
                <img src="../assets/img/su-dung-tui-cau-long-Yonex-dung-cach.jpg" alt=""><br>
                <span>Việc giữ quai túi và căn chỉnh các thanh ray sao cho chúng không bị cong vênh. Vì vậy trước khi thực hiện thao tác đóng mở, chúng ta nên dành ít phút điều chỉnh lại vật dụng đựng bên trong để khu vực khóa kéo không bị méo mó,cong vênh hay quá căng dẫn đến hư hỏng khóa kéo và lệch khỏi đường ray.</span><br>
                <img src="../assets/img/huong-dan-su-dung-tui-cau-long-Yonex(1).jpg" alt=""><br>
                <strong>- Điều chỉnh băng vai phù hợp </strong><br>
                <span>Điều chỉnh dây đeo vai để túi không bị biến dạng khi đeo trên lưng. Việc buộc dây đeo vai quá chặt sẽ khiến túi bị cong và dễ bị căng, ảnh hưởng đến trải nghiệm sản phẩm cho người chơi.</span><br>
                <img src="../assets/img/bao-quan-tui-cau-long-Yonex(1).jpg" alt=""><br>
                <strong>- Phân bố trọng lượng thích hợp trên chiếc túi cầu lông Yonex</strong><br>
                <span>Để sử dụng túi cầu lông Yonex đúng cách, vui lòng sử dụng túi bên trái và bên phải như nhau. Nếu bên trái và bên phải được cất giữ không đều nhau hoặc nếu vật nặng được đặt ở túi trên cùng thì túi sẽ bị biến dạng. Ngoài ra, hãy cẩn thận không để vật nặng ở khoang chứa sẽ khiến chiếc túi bị quá tải dẫn đến bị đứt dây đeo trong thời gian ngắn.</span><br>
                <span>Không đặt các vật sắc nhọn (các vật có góc cạnh) vào khoang chứa, điều này có thể làm hư hỏng và rách các chất liệu bên trong chiếc túi và có thể xảy ra va chạm với các vật dụng bên trong gây trầy xước.</span><br>
                <span>Túi đựng vợt cầu lông Yonex được thiết kế với tính chất phục vụ cho thể thao và thi đấu nên nếu bạn để nhiều đồ nặng, góc cạnh như sách vào túi sẽ gây hư hỏng chất liệu ​​và dây kéo sẽ dễ bị đứt.</span><br>
                <img src="../assets/img/deo-tui-cau-long-Yonex.jpg" alt=""><br>
                <span>Hy vọng bài viết này sẽ giúp bạn có được những kiến thức để bảo quản và sử dụng túi cầu lông Yonex tốt hơn. Và cũng đừng quên sử dụng và vệ sinh sản phẩm thường xuyên để tận dụng hết công năng mà nó mang lại. Ngay cả khi sản phẩm không được sử dụng, sản phẩm sẽ dần xuống cấp sau vài năm kể từ khi sản xuất. Tốc độ hư hỏng và hao mòn bị ảnh hưởng bởi nhiều yếu tố khác nhau như cách sử dụng, bảo quản. Các vết nứt trên da nhân tạo và nhựa của túi cầu lông, sự hư hỏng của chất kết dính</span><br>
                <span>Ngoài ra, các bạn có thể vui lòng xem thêm "Hướng dẫn về giày thể thao" của Hiệp hội công nghiệp đồ thể thao Nhật Bản.</span><br>
            </div>
        </div>
    </main>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <h4 class="title-menu">Thông tin chung</h4>
                    <div class="des_foo">
                        <p>
                            <b>VNB Sports</b>
                            là hệ thống cửa hàng cầu lông với hơn 50 chi nhánh trên toàn quốc, cung cấp
                            sỉ và lẻ các mặt hàng dụng cụ cầu lông từ phong trào tới chuyên nghiệp
                        </p>
                        <p>
                            <b>Với sứ mệnh:</b>
                            <em>
                                "VNB cam kết mang đến những sản phẩm, dịch vụ chất lượng tốt nhất phục vụ cho
                                người chơi thể thao để nâng cao sức khỏe của chính mình."
                            </em>
                        </p>
                        <p>
                            <b>Tầm nhìn:</b>
                            <em>
                                "Trở thành nhà phân phối và sản xuất thể thao lớn nhất Việt Nam"
                            </em>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 ps-4">
                    <h4 class="title-menu">Thông tin liên hệ</h4>
                    <div class="des_foo">
                        <p>
                            <b>Nguyễn Văn Hải</b>
                        </p>
                        <p>
                            <b>Đỗ Minh Hiếu</b>
                        </p>
                        <p>
                            <b>Phan Đức Huy</b>
                        </p>
                        <p>
                            <b>Hotline:</b>
                            0355063692 | 0785277320
                        </p>
                        <p>
                            <b>Email:</b>
                            info@gmail.com
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <h4 class="title-menu">Chính sách</h4>
                    <ul class="list">
                        <li class="item"><a href="#">Chính sách đổi trả, hoàn tiền</a></li>
                        <li class="item"><a href="#">Chính sách bảo hành</a></li>
                        <li class="item"><a href="#">Chính sách xử lý khiếu nại</a></li>
                        <li class="item"><a href="#">Chính sách vận chuyển</a></li>
                        <li class="item"><a href="#">Điều khoản sử dụng</a></li>
                        <li class="item"><a href="#">Chính sách bảo mật thông tin</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <h4 class="title-menu">Hướng dẫn</h4>
                    <ul class="list">
                        <li class="item"><a href="#">Chính sách đổi trả, hoàn tiền</a></li>
                        <li class="item"><a href="#">Chính sách bảo hành</a></li>
                        <li class="item"><a href="#">Chính sách xử lý khiếu nại</a></li>
                        <li class="item"><a href="#">Chính sách vận chuyển</a></li>
                        <li class="item"><a href="#">Điều khoản sử dụng</a></li>
                        <li class="item"><a href="#">Chính sách bảo mật thông tin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

<script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets//js/header.js"></script>
    <script src="../assets/js/cart.js"></script>
</body>
</html>