#footer {
    margin-top: 15px;
    padding-top: 30px;
    background-color: #222222;
}

#footer .title-menu {
    line-height: normal;
    letter-spacing: 0.5px;
    position: relative;
    font-size: 1.5rem;
    margin: 0 0 15px 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

#footer .des_foo p {
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 8px;
    line-height: 22px;
    text-align: justify;
}

#footer .des_foo b {
    font-weight: 600;
    color: var(--color-primary);
}

#footer .des_foo em {
    font-style: italic;
}

#footer .list {
    color: #fff;
    list-style: disc;
    text-align: left;
    padding-left: 15px;
}

#footer .list a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 2px;
}

#footer .list a:hover {
    color: var(--color-primary);
}