
#top-header{
    height: 80px;
    background: #ffffff;
    display: flex;
    align-items: center;
}

.top-header-logo{
    width: 120px;
    height: 100%;
    padding: 0 10px;
    overflow: hidden;
}

.top-header-logo img{
    height: 100%;
    width: 100%;
    margin-right: 27px;
}

.top-header-center{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-right: 32px;
    border-bottom: 1px solid #ccc ;
    align-items: center;
}
.top-header-center .hotline-map{
    font-size: 1.6rem;
    color: var(--color-primary);
    margin-right: 5px;
}

.top-header-center-hotline>span{
    font-weight: 500;
    font-size: 1.2rem;
}

.top-header-center-hotline>a{
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 700;
}

.top-header-center-liststore>a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}

.top-header-center-liststore>a:hover{
    color: var(--color-primary);
}

.top-header-center-searchmember{
    background: #f8f8f8;
    padding: 6px;
    border-radius: 6px ;
    margin-bottom: 4px;
}

.top-header-center-searchmember>input{
    border: none;
    background: #f8f8f8;
    width: 320px;
    outline: none;
    font-size: 1.2rem;
    margin-left: 5px;
}

.top-header-center-searchmember>i{
    color: var(--color-primary);
}

.top-header-left{
    display: flex;
    justify-content: space-between;
}

.top-header-left-btn{
    margin: 0 16px 0 0;
    width: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-header-left .basket{
    position: relative;
}
.top-header-left .basket p{
    position: absolute;
    background: var(--color-primary);
    color: white;
    font-size: 1.1rem;
    top: -6px;
    right: 10px ;
    border-radius: 50%;
    padding: 2px 4px;
}

.top-header-left span {
    display: inline-block;
    font-size: 1.4rem;
    color: #333;
    font-weight: 500;
}

/* .top-header-left span:hover {
    color: #fff;
} */

.top-header-left-btn .top-header-left-btn-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: var(--color-primary);
    margin-bottom: 8px;
    font-size: 1.8rem;
}

.top-header-left-btn>span{
    display: block;
    font-size: 1rem;
}
/*end top-header*/

/*start bottom-header*/
.bottom-header {
    background: var(--color-primary);
    position: relative;
}

.bottom-header ul {
    display: flex;
    justify-content: center;
}

.bottom-header ul li {
    display: flex;
    align-items: center;
}

.bottom-header li > a.dropdown{
    display: flex;
    align-items: center;
    gap: 4px;
}

.bottom-header ul li > a {
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
}

.bottom-header a:hover {
    opacity: 0.9;
}

.bottom-header a:hover > i {
    color: black;
    transform: rotate(180deg);
    animation: headerRotateHover ease-in-out 0.4s;
}

@keyframes headerRotateHover {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-180deg);
    }
}
/*end bottom-heading*/
/*start list-menu*/
.list-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 44px;
    width: 100%;
    height: 80vh;
    justify-content: space-around;
    padding: 10px 16px;
    overflow-y: scroll;
    max-height: 390px;
    background: white;
    z-index: 2;
    display: none;
}

/* width */
.list-menu::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.list-menu::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.list-menu::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.list-menu::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.row{
    width: 100%;
}

.list-train{
    position: relative;
}

.list-train-member{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    background: #fff;
    top: 42px;
    box-shadow: 0 2px 6px 0 var(--color-primary);
}

.bottom-header li .list-train-member{
    display: none;
    background: white;
    z-index: 2;
}

.bottom-header li:hover>.list-train-member{
    display: block;
}

.bottom-header .list-train-member>li>a{
    display: block;
    font-size: 1.4rem;
    width: 250px;
    color: var(--color-primary);
    text-decoration: none;
    text-align: left;
    margin: 0 5px 5px;
    padding:10px 15px 10px 10px;
    border-bottom: 1px solid #ccc;
}

.col-heading {
    /* padding-bottom: 5px; */
    margin-top: 10px;
    margin-bottom: 10px;
    /* border-bottom: 1px solid #ccc; */
}

.col-header {
    padding-bottom: 5px;
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
    border-bottom: 1px solid #ccc;
    width: 220px;
}

.col-footer{
    color: var(--color-primary);
    text-decoration: none;
    font-size: 1.3rem;
}

.list-menu-member {
    padding-bottom: 10px;
}

.list-menu-member ul > li > a{
    color: #333E44;
    padding: 0;
    font-weight: unset;
    padding: 6px 0;
}

.list-menu-member ul > li > a:hover {
    color: var(--color-primary);
}

.bottom-header li:hover>.list-menu{
    display: block;
}

.search-btn{
    position: relative;
    cursor: pointer;
}

.search-btn:hover>.search-list{
    display: block;
}

.search-list{
    position: absolute;
    top: 46px;
    background: white;
    z-index: 3;
    border-radius: 5px;
    display: none;
    box-shadow: rgba(0,0,0,0.18) 0 6px 12px 0;
    border: 1px solid #efefef;
}

.arrow-menu:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--color-primary);
}

.search-list a:hover{
    color: white;
    background: var(--color-primary);
}

.search-list a{
    display: block;
    text-decoration: none;
    color: black;
    width: 200px;
    font-size: 1.4rem;
    padding: 7px 5px 7px 15px;
    border-radius: 4px;
    margin: 1px;
}

.acc-btn{
    position: relative;
    cursor: pointer;
}

.acc-list{
    position: absolute;
    top: 46px;
    background: white;
    z-index: 3;
    border-radius: 5px;
    display: none;
    box-shadow: rgba(0,0,0,0.18) 0 6px 12px 0;
    border: 1px solid #efefef;
}

.acc-list a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    min-width: 125px;
    font-size: 1.4rem;
    padding: 7px 5px 7px 15px;
    border-radius: 4px;
    margin: 1px;
}

.acc-list a:hover{
    color: white;
    background: var(--color-primary);
}

.acc-list a:hover>span {
    color: white;
}

.acc-list a span {
    margin-left: 6px;
}

.acc-list .icon {
    font-size: 2rem;
}

.acc-btn:hover>.acc-list{
    display: block;
}

.basket-list{
    position: relative;
    cursor: pointer;
}

.basket-list:hover>.basket-member{
    display: block;
}

.basket-member{
    display: none;
    width: 320px;
    position: absolute;
    top: 46px;
    right: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    z-index: 3;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.18) 0 6px 12px 0;
    border: 1px solid #efefef;
    color: #333;
    overflow: hidden;
}
.basket-member .basket-empty i{
    font-size: 80px;
    display: block;
    text-align: center;
    margin: 20px 0;
    color: #333;
}

.basket-member .basket-empty span{
    display: block;
    padding: 0 5px;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 15px;
}

/* Giỏ hàng có sản phẩm */
.basket-member .basket-not-empty {
    cursor: context-menu;
}

.basket-member .basket-not-empty .title_cart-header {
    padding: 7px;
    background-color: var(--color-primary);
}

.basket-not-empty .title_cart-header a {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
}

.basket-not-empty .cart-item-header-img {
    width: 20%;
}

.basket-not-empty .cart-item-header-img img {
    width: 100%;
}

.basket-not-empty .cart_body-header {
    padding: 10px;
    max-height: 360px;
    overflow-y: auto;
}

.basket-not-empty .cart_body-header::-webkit-scrollbar {
    width: 5px;
    background-color: #F2F2F2
}

.basket-not-empty .cart_body-header::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    background-color: #22aaff
}
  
.basket-not-empty .cart_body-header::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #F2F2F2
}

.basket-not-empty .cart-item-header {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-top: 8px;
}

.basket-not-empty .cart-item-header .cart-item-info-header {
    width: 80%;
    padding-left: 15px;
}

.basket-not-empty .cart-item-name-header {
    padding-right: 25px;
    position: relative;
}

.basket-not-empty .cart-item-name-header .icon {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.basket-not-empty .cart-item-name-header .icon:hover {
    color: var(--color-primary);
}

.basket-not-empty .cart-item-header .cart-item-info-header a {
    color: #333;
    font-size: 1.5rem;
    line-height: 2rem;
}

.basket-not-empty .cart-item-header .cart-item-info-header a:hover {
    color: var(--color-primary);
}

.basket-not-empty  .cart-item-info-header .cart-quantity input {
    width: 30px;
    text-align: center;
    border-radius: 0;
    border: 1px solid #ccc;
}

.basket-not-empty  .cart-item-info-header .cart-quantity button {
    border: 1px solid #ccc;
    width: 25px;
    background-color: #fff;
}

.basket-not-empty  .cart-item-info-header .cart-price span {
    font-size: 1.4rem;
    color: var(--color-primary);
}

.basket-not-empty .cart-bottom-header {
    padding: 10px;
}

.basket-not-empty .cart-bottom-header .cart-bottom-price span {
    font-size: 1.5rem;
}

.basket-not-empty .cart-bottom-header .cart-bottom-price span:last-child {
    color: var(--color-primary);
}

.basket-not-empty .cart-bottom-header button {
    margin-top: 8px;
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    color: #fff;
    background-color: var(--color-primary);
}