
/* Left */
.product-detail-left .img-main {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.product-detail-left .swiper-container {
    position: relative;
}

.product-detail-left .swiper-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8rem;
    padding: 2px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.product-detail-left .swiper-button.next {
    right: 0;
}

.product-detail-left .swiper-button.prev {
    display: none;
    left: 0;
}

.product-detail-left .swiper-wrapper {
    width: calc(100% - 10px);
    overflow: hidden;
    scroll-behavior: smooth;
}

.product-detail-left .swiper-wrapper .swiper-slide {
    flex-shrink: 0;
    width: 62.6px;
    margin-right: 6px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.product-detail-left .swiper-slide img {
    padding: 8px 4px;
}

.product-detail-left .swiper-wrapper.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.product-detail-left .swiper-wrapper.dragging .swiper-slide {
    pointer-events: none;
}

.product-detail-left .swiper-slide:hover {
    border-color: var(--color-primary);
}

.product-detail-left .swiper-slide.swiper-slide-thumb-active {
    border: 1px solid var(--color-primary);
    cursor: default;
}

.product-detail-left .swiper-slide img {
    width: 100%;
}

/* Right */
.product-detail-right .title-product {
    font-size: 2.4rem;
    margin: 0 0 5px;
    line-height: 3.6rem;
    text-transform: capitalize;
    font-weight: 500;
}

.product-detail-right .product-top {
    font-size: 1.4rem;
    color: #666;
    margin-bottom: 12px;
}

.product-detail-right .product-top .code {
    color: var(--color-primary);
}

.product-detail-right .inventory_quantity {
    color: #666;
    margin-bottom: 16px;
    font-size: 1.4rem;
}

.product-detail-right .inventory_quantity .a-vendor {
    text-decoration: none;
    color: var(--color-primary);
}

.product-detail-right .inventory_quantity .a-stock {
    color: var(--color-primary);
}

.product-detail-right .inventory_quantity .line {
    display: inline-block;
    height: 14px;
    border: 1px solid #666;
    margin: 0 12px;
}

.product-detail-right .price-box {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.product-detail-right .price-box .special-price {
    font-size: 2.2rem;
    font-weight: bold;
    color: #e8002d;
    margin-right: 12px;
}

.product-detail-right .price-box .old-price {
    font-size: 1.6rem;
    color: #ccc;
}

.product-detail-right .pro-discount {
    position: relative;
    padding: 12px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    background: rgba(1,86,127,0.02);
}

.product-detail-right .pro-discount p {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 12px;
    color: #555555;
    line-height: 2.2rem;
}

.product-detail-right .pro-discount .icon {
    font-size: 2rem;
    font-weight: 700;
    color: #026e02;
    line-height: 2.2rem;
    margin-right: 6px;
}

.product-detail-right .pro-discount .icon.red {
    color: #fd1717;
}

.product-detail-right .uu_dai {
    position: absolute;
    top: -5%;
    color: var(--color-primary);
    font-weight: 500;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid;
    font-size: 1.6rem;
    margin-bottom: 0;
    padding: 3px 10px;
}

.product-detail-right .uu_dai img {
    max-width: 23px;
    mix-blend-mode: multiply;
    vertical-align: -3px;
}

.product-detail-right .form-product {
    margin-top: 30px;
}

.product-detail-right .form-product .title {
    font-weight: 400;
    font-size: 1.5rem;
    color: #333;
}

.product-detail-right .form-product .btn-size {
    font-size: 1.3rem;
    color: #333;
    border: 1px solid #eee;
}

.product-detail-right .form-product input:checked ~ .btn-size {
    background-color: var(--color-primary);
    color: #fff;
}

.product-detail-right .btn-minus {
    background-color: var(--color-primary);
    width: 26px;
    height: 26px;
    color: #fff;
    border: none;
}

.product-detail-right .input_number_product input {
    width: 90px;
    color: var(--color-primary);
    font-size: 1.4rem;
    padding: 6px 0;
    text-align: center;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
}

.product-detail-right .input_number_product input:focus-visible {
    outline: 1px solid var(--color-primary);
}

.product-detail-right .btn-outline-add {
    margin-left: 12px;
    font-size: 12px;
    padding: 6px 40px;
    color: #fff;
    background-color: var(--color-primary);
}

.product-detail-right .btn-outline-add:hover {
    color: var(--color-primary);
    background-color: #fff;
    border: 1px solid var(--color-primary);
}